:root {
    font-size: 16px;

}
html { height: 100%; }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

/***************/
/* Body  */
body {

    height: 100vh;
    overflow: auto;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns:1fr;
    grid-template-rows: 3rem 1fr;
    position: relative;
    font-family: Georgia, sans-serif;
    z-index: 1;
}

/*note class used to style the note for the developer and will be removed later*/
.Note{
    color: darkgoldenrod;
    animation: move alternate infinite 1s;
}

.d-flex{
    display: flex;
}

.col-main{
    background-color: #354853;

}

.col-main2{
    background-color: #5ce9db;
}
.col-main3{
    background:  linear-gradient(0deg, #ffffff, #ebffff);
}
.col-main3-solid{
    background-color: #ebffff;
}
.col-main4{
    background-color: #fc7246;
}

.col1-background  {
    background:  linear-gradient(0deg, #ffffff, #F1D1B5);
}
.col2-background{
    background:  linear-gradient(0deg, #ffffff, #e9e8e9);
}
.col3-background{
    background-color: #cfe4ff;
}
.svg-to-white{
    filter: invert(100%) sepia(10%) saturate(100%) hue-rotate(346deg) brightness(100%) contrast(97%);

}

@keyframes move {
 from{
     margin-left: 0;
 }  to{
         margin-left: 20px;

     }
}
/*** end of body**/
/*****************/

/*scroll bar */
::-webkit-scrollbar{
    width: 10px;

}
::-webkit-scrollbar-track {
    border: 1px solid #bed0e2;
    box-shadow: inset 0 0 2px 1px #3a3a5b;


}
::-webkit-scrollbar-thumb {
    background:  linear-gradient(0deg, #7b9d9a, #5ce9db);

}
::-webkit-scrollbar-thumb:hover {
    background:  linear-gradient(0deg, #8fcac4, #5ce9db);

}

@media (min-width: 768px ) {
    body{font-size: 17px;
        grid-template-columns: minmax(50px, 5%) 1fr;
        grid-template-rows: 100vh;
    grid-gap: 0;
    }
}
